@font-face {
  font-family: Montserrat;
  src: url('motserrat/Montserrat-Regular.otf');
  src: url('motserrat/Montserrat-Bold.otf');
  src: url('motserrat/Montserrat-Light.otf');
  src: url('motserrat/Montserrat-Italic.otf');
}